.adminPage {
  color: whitesmoke;
  padding: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin: 2rem 0;
  text-align: center;
}

#champs {
  font-size: 1.2rem;
  color: rgb(211, 76, 76);
}

.championsList {
  display: grid;
  grid-template-columns: 20% 40% 10% 10%;
  width: 100%;
}

.addSection {
  display: grid;
  grid-template-columns: 70% 10%;
  align-items: center;
}

.addForm {
  display: flex;
  flex-direction: row;
}

#championName {
  width: 33%;
  margin-top: .2rem;
}
#championImg {
  width: 50%;
  margin-top: .2rem;
}
#addChampionButton {
  width: 17%;
  border-radius: 10px;
  height: 2rem;
}

.editForm {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#championNameEdit {
  margin-top: .8rem;
  min-width: 100%;
}

#championImgEdit {
  margin-top: .8rem;
  min-width: 150%;
}

#editButton,
#deleteButton,
#addButton {
  width: auto;
  height: 2rem;
  margin: .5rem;
  cursor: pointer;
  align-items: center;
  border-radius: 10px;
}

.saveButton,
.abortButton {
  align-items: center;
  border-radius: 10px;
  height: 2rem;
  margin: .5rem 0.2rem;
  min-width: 48%;
}

#championsNumber {
  font-size: .8rem;
  color: rgb(0, 0, 0);
}
